@import '_variables';

.align-self-center {
    align-self: center;
}

// bg
.bg-light {
    background-color: $light !important;
}

// end bg
// margin
.mtop-1 {
    margin-top: 1rem;
}

// end margin

.input-control {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10px auto;

    label {
        width: 100%;
        margin-bottom: 8px;
    }

    input {
        width: 100%;
        height: 30px;
        font-size: 15px;
        border-radius: 5px;
        padding: 2px;
        border: 1px solid rgb(138, 138, 139);

        &:focus {
            outline: none;
            box-shadow: 0 0 30px rgba(85, 86, 87, 0.6)
        }
    }

    textarea {
        width: 100%;
        font-size: 15px;
        border-radius: 5px;
        padding: 2px;
        border: 1px solid rgb(138, 138, 139);

        &:focus {
            outline: none;
            box-shadow: 0 0 30px rgba(85, 86, 87, 0.6);
        }
    }
}

button.btn {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    &:focus {
        box-shadow: 0 0 30px rgba(85, 86, 87, 0.6);
        outline: none;
    }
}

button.btn-primary {
    background-color: rgb(124, 86, 226);
    color: #fff;
}