@import "_mix";
@import "_variables";

* {
    padding: 0px;
    margin: 0px;
}

.mt-2 {
    margin-top: 1.5rem;
}

// navbar
.row-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // align-items: center;
}

nav.nav {
    width: 100%;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
    background-color: red;
    box-sizing: border-box;
}

nav.nav-light {
    background-color: $light;
    box-shadow: -7px 0px 10px 3px #cabebe;
}

nav {
    button.nav-button {
        border: none;
        background-color: transparent;
        outline: none;
        padding: 7px 16px;
        border-radius: 2px;
        display: none;
    }
}

.nav-name-company {
    height: 100%;
    flex: 1;
    background-color: transparent;
    font-size: 25px;
    font-family: $mainFont;
    padding-left: 10px;
    box-sizing: border-box;
}

.nav-product-company {
    height: 100%;
    flex: 4;
    background-color: transparent;
    box-sizing: border-box;
    padding-right: 10px;

    ul.menu {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;

        li {
            padding: 12px 10px;
            display: list-item;
            // margin-right: 8px;
            font-family: $mainFont;
            border-radius: 4px;

            a {
                text-decoration: none;
                color: #000;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.img-responsive {
    max-width: 100%;
    width: auto;
}

.menu-xs {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: $light;
    padding: 30px 20px 20px 20px;
    box-shadow: -7px 0px 10px 3px #cabebe;
    display: none;
}

.row-close-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // align-items: center;
    justify-content: flex-end;
}

.close-menu-xs {
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 4px;
    font-size: 25px;
}

.row-main-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 999999999999999999;

    ul.main-menu-xs {
        z-index: 999999999999999999;
        list-style-type: none;

        li:first-child {
            margin-top: 30px;
        }

        li {
            margin-bottom: 20px;
            font-size: 25px;
            border-bottom: 1px solid black;

            a {
                text-decoration: none;
                color: #000;
            }
        }
    }
}

.d-block {
    display: block;
}

// end navbar
// main
main {
    width: 100% !important;
}

// sliders
.sliders {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    height: 500px;
}

.images {
    width: 100%;
    height: 500px;
    // background-color: red;
    flex: 15;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 10px 10px 3px #cabebe;

    .image {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .text-slider {
            img {
                display: none;
            }

            img.active {
                width: 100%;
                display: block;
            }
        }

        img {
            display: none;
        }

        img.active {
            width: 100%;
            display: block;
        }
    }
}

.wrap-btn-slider {
    flex: 1;
}

.prev-btn-slider,
.next-btn-slider {
    height: 40px;
    width: 40px;
    background-color: #fff;
    color: black;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    transition: ease 0.2s all;

    &:hover {
        box-shadow: 0px 0px 10px 3px #cabebe;
        cursor: pointer;
    }
}

.prev-btn-slider {
    margin: 0 auto;
}

.next-btn-slider {
    margin: 0 auto;
}

// end sliders
// about
.about {
    margin-top: 3rem;
    width: 100%;
    padding-bottom: 100px;
    font-family: $mainFont;
    background-color: #eaeaea;

    .title-about {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 45px;
    }

    .main-about {
        display: flex;
        flex-direction: row;

        .desc-about {
            padding: 50px;
            word-spacing: 1px;
            line-height: 25px;
            flex: 1;
            text-align: justify;
            color: rgba(51, 51, 51, 0.733);
        }

        .logo-about {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 30px;

            img {
                width: 300px;
                border-radius: 5px;
                box-shadow: 0px 0px 10px 3px #cabebec9;
            }
        }
    }
}

// end about

// services
.services {
    margin-top: 3rem;
    width: 100%;
    padding-bottom: 100px;
    font-family: $mainFont;
    background-color: #fff;

    .title-services {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 45px;
    }

    .main-services {
        .row-flex {
            justify-content: center;
            width: 80%;
            margin: 0 auto;

            .column-services {
                width: 300px;
                height: 300px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                // background-color: red;
                .icon-services {
                    width: 80px;
                    height: 80px;
                    background-color: #eaeaea;
                    text-align: center;
                    line-height: 80px;
                    font-size: 40px;
                    border-radius: 50%;
                    box-shadow: 0px 0px 20px 2px #cabebedc;
                    transition: ease .5s all;

                    &:hover {
                        box-shadow: 0px 0px 20px 2px #b3aeaedc;
                    }
                }

                .name-services {
                    margin-top: 40px;
                    font-weight: bold;
                    letter-spacing: .5px;
                }

                .desc-services {
                    width: 90%;
                    margin: 20px 10px 0px 10px;
                    text-align: center;
                }
            }
        }
    }
}

// end services

// portfolio
.portfolio {
    margin-top: 3rem;
    width: 100%;
    padding-bottom: 100px;
    font-family: $mainFont;
    background-color: #eaeaea;

    .title-portfolio {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 45px;
    }

    .desc-portfolio {
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;
        text-align: center;
        line-height: 30px;
    }

    .filter-portfolio {
        margin-top: 10px;
        display: flex;
        justify-content: center;

        .btn-portfolio {
            padding: 10px 20px;
            background-color: rgba(92, 89, 89, 0.877);
            outline: none;
            border: none;
            margin-right: 4px;
            cursor: pointer;
            text-transform: uppercase;

            &:hover {
                box-sizing: border-box;
                border: 1px solid rgb(92, 85, 85);
                background-color: blanchedalmond;
                color: rgb(92, 85, 85);
            }
        }
    }

    .main-portfolio {
        margin-top: 30px;

        .row-flex {
            width: 80%;
            margin: 0 auto;
            justify-content: flex-start;

            .image-portfolio {
                box-sizing: border-box;
                width: calc(100% / 3);
                padding: 30px;
                height: 300px;
                background-color: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                img {
                    // width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    transition: ease .3s all;
                    cursor: pointer;

                    &:hover {
                        width: 110%;
                        box-shadow: 0px 0px 80px 5px #cabebe;
                    }
                }
            }
        }
    }
}

// end portfolio
// end main


// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
    .sliders {
        height: 400px;
    }

    .images {
        height: 100%;
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    .sliders {
        height: 300px;
    }

    .images {
        height: 100%;
    }

    .about {
        .main-about {
            flex-direction: column;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .nav-product-company {
        display: none;
    }

    nav {
        button.nav-button {
            display: block;
        }
    }

    .prev-btn-slider {
        margin: 0 10px;
    }

    .next-btn-slider {
        margin: 0 10px;
    }

    .sliders {
        height: 100%;
    }

    .images {
        height: 100%;
    }

    .portfolio {
        .main-portfolio {
            .row-flex {
                width: 100%;
                align-items: center;
                flex-direction: column;
                margin-bottom: 20px;

                .image-portfolio {
                    width: 100%;

                    img {

                        &:hover {
                            width: 100%;
                            // box-shadow: 0px 0px 80px 5px #cabebe;
                        }
                    }
                }
            }
        }
    }
}